* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.clickable {
  cursor: pointer;
}

.container {
  height: 100vh;
  width: 100%;
}

.scores-container {
  width: 95%;
  margin: 25px auto;
}

.leaderboard-title {
  font-size: 38px;
  padding: 10px 3px;
}

.leaderboard-container {
  display: flex;
  padding: 15px 20px;
}

.recent-scores {
  width: 70%;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0 15px;
  font-size: 16px;
}

.refresh-btn {
  padding: 5px 15px;
  box-shadow: 3px 3px 0 0 #0d1116;
  border: 1px solid #0d1116;
  border-radius: 4px;
}

.list {
  border: solid #0d1116;
  border-radius: 5px;
}

.list li {
  padding: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.list li:nth-child(even) {
  background: #ddd;
}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  justify-content: start;
  align-items: center;
}

form h2 {
  padding: 10px 0 35px;
  font-size: 22px;
}

form .input-name,
.input-score {
  padding: 7px 10px;
  width: 150px;
  margin-bottom: 20px;
  font-size: 15px;
  border: 2.5px solid #0d1116;
  border-radius: 4px;
}

.submit-btn {
  padding: 5px 15px;
  box-shadow: 3px 3px 0 0 #0d1116;
  border: 1px solid #0d1116;
  border-radius: 4px;
  margin: 10px;
}
